<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			An experienced Technical Leader and Software Designer using the Oracle and Java tool sets. I am passionate about 
			producing quality designs, documentation and software to meet customer requirements. I believe the best software 
			is produced using agile methods.
		</div>
		<br>
	</div>
</div>
